default: &default
  adapter: postgresql
  encoding: unicode
  # For details on connection pooling, see Rails configuration guide
  # https://guides.rubyonrails.org/configuring.html#database-pooling
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: tove_development

test:
  <<: *default
  url: <%= ENV['DATABASE_URL_TEST'] %>
  database: tove_test

staging:
  <<: *default
  url: <%= ENV['DATABASE_URL'] %>
  # url: <%= Rails.application.credentials.db_url %>

production:
  <<: *default
  # url: <%= Rails.application.credentials.db_url %>
